# Java / Maven / Spring Boot
target/
*.class
*.jar
*.war

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.properties

# IDEs
.idea/
*.iml
*.ipr
*.iws
out/
.vscode/
.project
.classpath
.settings/
bin/

# OS
.DS_Store
Thumbs.db

# Logs / temporales
*.log
*.tmp
*.bak
*.swp

# Tests (si no quieres subirlos)
src/test/
test/

# Archivos de configuración sensibles (no subir)
src/main/resources/application.properties
**/application.properties

# Otros
HELP.md
