# =========================
# Java / Spring Boot
# =========================
target/
*.class
*.jar
*.war
*.ear

# =========================
# Maven
# =========================
.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.properties

# =========================
# IDEs y editores
# =========================
# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/
bin/

# =========================
# Archivos del sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs y temporales
# =========================
*.log
*.tmp
*.bak
*.swp

# =========================
# Archivos de test
# =========================
src/test/
src/test/java/com/example/demo/DemoApplicationTests.java

# =========================
# Archivos de configuración sensibles
# =========================
src/main/resources/application.properties

# =========================
# Otros
# =========================
HELP.md
